.stack-work/
dist/
dist-newstyle/
*~
*#
*.aux
*.csv
*.prof
*.gnuplot
*.tsv
*.prof
*.csv
*.svg
*.hp
*.folded
*.html
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.hp
*.eventlog
cabal.project.local
.HTF/
dist
dist-*
cabal-dev
